<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824951586402-6sessam73hmlrg01dpggfotfjkot26kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824951586402-6sessam73hmlrg01dpggfotfjkot26kv</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ0MHp-zODHB0mYnIPPPe1zJhKUcWliyk</string>
	<key>GCM_SENDER_ID</key>
	<string>824951586402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WFT.wineFineThankyou</string>
	<key>PROJECT_ID</key>
	<string>winefinethankyou</string>
	<key>STORAGE_BUCKET</key>
	<string>winefinethankyou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824951586402:ios:538a2ced3d6a6f6d99db3b</string>
</dict>
</plist>